<div id="<%= dom_id sponsorship_level %>">
  <p>
    <strong>Level id:</strong>
    <%= sponsorship_level.Level_ID %>
  </p>

  <p>
    <strong>Sponsorship level:</strong>
    <%= sponsorship_level.Sponsorship_Level %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= sponsorship_level.Value %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sponsorship_level.Description %>
  </p>

</div>
